*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    margin: 15px;
    padding: 10px;
}
#container{
    margin: 18px;
    padding: 18px;
    border: 1px solid rgb(162, 144, 147);
    background-color: rgb(162, 144, 147);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#value{
    margin:20px;
    padding: 10px;
    font-size: 48px;
    color: brown;
}
.elements{
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 15px;    
}
button{
 margin: 10px;
 padding: 8px; 
 border: none ;
 border-radius: 30%;  
}